on: push

name: Commit Message

# NOTE: Skip check on PR so as not to confuse contributors
# NOTE: Also install a PR title checker so we don't mess up merges
jobs:
    check:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v6
          with:
              fetch-depth: 0

        - name: Install uv
          uses: astral-sh/setup-uv@v7

        - name: Check commit history
          run: uvx commitlint --from-hash $(git rev-list --all --reverse | head -1) --to-hash HEAD
