name: PR Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
    check:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v6

        - name: Install uv
          uses: astral-sh/setup-uv@v7

        - name: Check PR Title
          env:
              TITLE: ${{ github.event.pull_request.title }}
          run: uvx commitlint "$TITLE"
